{% block title %}
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />

    <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        <button 
        class = "navbar-toggler" 
        type = "button" 
        data-toggle ="collapse" 
        data-target = "#navbar">
            <span class = "navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "navbar">
            <div class = "navbar-nav">
                {% if current_user.is_authenticated %}
                <a class = "nav-item nav-link" id = "mandatory" href = "/">Attending Meetings</a>
                <a class = "nav-item nav-link" id = "mandatory" href = "/mandatory">Mandatory Meetings</a>
                <a class = "nav-item nav-link" id = "optional" href = "/optional">Optional Meetings</a>
                <a class = "nav-item nav-link" id = "logout" href = "/logout">Logout</a>
                {% else %}
                <a class = "nav-item nav-link" id = "login" href = "/login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
    ></script>
{% endblock %}

{% block content %}
    <br/>
    <h2 align="center"><a href="#">Meeting Calendar</a> </h2>
    <br/>
    <div class="container">
        <div id="calendar"></div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function() {
            var calendar = $('#calendar').fullCalendar({
                editable:true,
                header:{
                    left:'prev, next today',
                    center:'title',
                    right:'month,agendaWeek,agendaDay'
                },
                events: [{% for row in calendar %}{ id : '{{row.id}}', title: '{{row.purpose}}', start: '{{row.start_time}}', end : '{{row.end_time}}', }, {% endfor %}],
                selectable:true,
                selectHelper:true,

                // create meeting
                select: function(start, end, allDay)
                {
                    var purpose = prompt("Enter Meeting Purpose");
                    if (purpose)
                    {
                        var start = prompt("Enter start time. Format: YYYY-MM-DD HH:mm:ss");
                        var end = prompt("Enter end time. Format: YYYY-MM-DD HH:mm:ss");
                        var locationid = prompt("Enter Location");
                        var mandatory = prompt("Yes or No: Mandatory?");
                        var remote = prompt("Yes or No: Remote?");
                        var moderatorid = prompt("Enter moderator ID");
                        $.ajax({
                            url:"/insert",
                            type:"POST",
                            cache:false,
                            data:{purpose:purpose, start:start, end:end, locationid:locationid, mandatory:mandatory, remote:remote, moderatorid:moderatorid},
                            success:function(data)
                            {
                                //alert(data)
                                alert("Added Successfully");
                                window.location.replace("/");
                            }
                        })
                    }
                },
                editable:true,

                // change time of meeting
                eventResize:function(event)
                {
                    var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var purpose = event.title;
                    var id = event.id;
                    $.ajax({
                        url:"/update",
                        type:"POST",
                        cache:false,
                        data:{purpose:purpose, start:start, end:end, id:id},
                        success:function()
                        {
                            calendar.fullCalendar('refetchEvents');
                            alert("Meeting updated sucessfully!");
                        }
                    })
                },
                
                // changing date of meeting by dragging
                eventDrop:function(event)
                {
                    var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var purpose = event.title;
                    var id = event.id;
                    $.ajax({
                        url:"/update",
                        type:"POST",
                        cache:false,
                        data:{purpose:purpose, start:start, end:end, id:id},
                        success:function()
                        {
                            calendar.fullCalendar('refetchEvents');
                            alert("Meeting updated sucessfully!");
                        }
                    })
                },
                
                // delete meeting
                eventClick:function(event)
                {
                    if(confirm("Are you sure you want to remove it?"))
                    {
                        var id = event.id;
                        $.ajax({
                            url:"/delete",
                            type:"POST",
                            cache:false,
                            data:{id:id},
                            success:function()
                            {
                                calendar.fullCalendar('refetchEvents');
                                alert("Meeting removed successfully!");
                            }
                        })
                    }
                }
            });
        });
    </script>
{% endblock %}
